<div class="well">
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <!-- Search -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label for="search-field">Search for Customers:</label>
                    <input name="search-field"
                           type="text"
                           class="form-control"
                           [(ngModel)]="searchTerm">
                </div>
            </div>
            <!-- Results -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="list-group">
                        <li class="list-group-item">Item 1</li>
                        <li class="list-group-item">Item 2</li>
                        <li class="list-group-item">Item 3</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <!-- Logo -->
            <div class="row">
                <img src="../../assets/ebacrmLogo.png"
                     class="img-responsive"
                     alt="Image">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                </div>
            </div>
        </div>
    </div>
</div>